main.main-container{
    background: rgb(236, 236, 236);
    border: 1px solid black;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 10% repeat(0, 1fr) 10%;
    grid-template-rows: 80px 1fr 150px 50px 120px;
    grid-gap: 0;
}

.bubble1{
    border: 1px solid black;
    background: red;
    color: rgb(255, 100, 100);
    grid-column: 1/6;
    grid-row: 1/1;
    border-radius: 0%;
    text-align: center;

    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr); */
}

.bubble2{
    border: 1px solid black;
    background: rgb(253, 183, 53);
    color: rgb(255, 230, 149);
    grid-column: 2/2;
    grid-row: 2/2;
    border-radius: 0%;
    text-align: center;
}

.bubble3{
    border: 1px solid black;
    background: rgb(255, 255, 1);
    color: rgb(194, 191, 0);
    grid-column: 3/3;
    grid-row: 3/3;
    border-radius: 50%;
    text-align: center;
}
.bubble4{
    border: 1px solid black;
    background: rgb(24, 243, 24);
    color: rgb(152, 255, 138);
    grid-column: 4/4;
    grid-row: 4/4;
    border-radius: 0%;
    text-align: center;
}
.bubble5{
    border: 1px solid black;
    background: rgb(60, 60, 255);
    color: rgb(125, 210, 250);
    grid-column: 5/5;
    grid-row: 5/5;
    border-radius: 50%;
    text-align: center;
}
.bubble6{
    border: 1px solid black;
    background: rgb(209, 60, 255);
    color: rgb(146, 30, 161);
    grid-column: 1/1;
    grid-row: 2/2;
    border-radius: 0;
    text-align: center;
}