

body{
  background: url("bluewhite_background.jpg");
  background-size: cover;
}

.wallpaperOpac{
  background: blue;
  opacity: 20;
}
.title{
  
  padding: 10px;  
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  letter-spacing: 5;
  width: 800;
  background: lightgray;
  border-radius: 25px;
  text-align: center;
  justify-content: center;

  animation: colorFade 5s ease infinite;
  animation: bounce 1s ease infinite;
}

.header{
  display: flex;
  justify-content: center;
  align-items: top;
}
.nav{
  list-style-type: none;
  margin: 0;
  padding: 50;
  animation: opacFade 3s ease infinite;
  
}

.boxOne{
  animation: rotate 5s linear infinite;
  padding: 50;
  height: 50;
  width: 50;
  border-radius: 50px;
  background: white;

}

.boxTwo{
  animation: rotate 2s, bounce 1s linear infinite;
  padding: 50;
  height: 30;
  width: 30;
  border-radius: 50px;
  background: rgb(100, 172, 255);
}

/* /////////////////////////////// */
/* /////////  ANIMATIONS ///////// */
/* /////////////////////////////// */

/* Fade color in and out */
@keyframes colorFade {
  0% {
    background: #cecece;
  }
  100% {
    background: #505050;
  }
}

/* bounce up and down */
@keyframes bounce {
  0% {
    transform: translateY(0px)
  }
  50% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0px)
  }
}

/* fade in and out */
@keyframes opacFade {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 1%;
  }
  100% {
    opacity: 100%;
  }
}

/* rotate */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}